.animate__delay-0-4s{
    animation-delay: 0.4s;
}

.animate__delay-0-8s{
    animation-delay: 0.8s;
}

.animate__delay-1-2s{
    animation-delay: 1.2s;
}

.animate__delay-1-6s{
    animation-delay: 1.6s;
}

.animate__delay-2-0s{
    animation-delay: 2s;
}

.animate__delay-2-4s{
    animation-delay: 2.4s;
}

.animate__delay-2-8s{
    animation-delay: 2.8s;
}

.animate__delay-3-2s{
    animation-delay: 3.2s;
}

.animate__delay-3-6s{
    animation-delay: 3.6s;
}

.animate__delay-3-8s{
    animation-delay: 3.8s;
}

