@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.card-body-size {
    width: 60%;
    text-align: center;
    margin-left: 18%;
    margin-right: 18%;
    margin-top: 3%;
    margin-bottom: 3%;
}
.modal-footer{
    justify-content: space-around;
}

.isElectrical{
    color: #28a745;
}
.isNotElectrical{
    color: #dc3545;
}
.selected-row {
    background-color: yellow;
  }
  /* .btn-close-modal {
    text-align: left;
    direction: ltr;
    box-sizing: content-box;
    width: 0.8em;
    height: 0.8em;
    color: #a8b1bb;
    border: 0;
    border-radius: 0.25rem;
    opacity: 0.95;
    background-color: #eeeff1;
    padding: 0.5625rem 0.5625rem;
    margin: 0 0 0 auto;
    z-index: 0;
    margin-left: 0 !important;
    margin-right: 1px !important;
  } */




/* table>thead {
    background-color: #e5e9ed;
    border: 1px solid #808080a3;
}

.drug-list {
    min-height: 25rem;
}



.electric-false{
    background-color: rgb(250, 245, 175);
}

.electric-true{
    background-color: rgb(184, 253, 199);
} 

.select-row {
    background-color: red;
}
.unselect-row {
    background-color: blue;
}


.modal-footer{
    justify-content: space-around;
}

.validation-alert-pc-modal{
    position: absolute;
    top: 4px;
    left: 0;
    font-size: 12px;
    color: red;
}

.edit-form{
    position: relative;
}

.selected-row{
    background-color: lightblue;
}
.language-fix{
    list-style-type: none;
    display: inline-block;
}

.margin-xy{
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important
}

.validation-alert{
    color:red;
}

.selected-row {
    background-color: yellow;
  }
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid #d4d8dd;
    border-radius: 0.3125rem;
    height: 86vh;
  }
  
  .button-first {
    width: 30rem;
    height: 20rem;
  }
  
  .botton-box {
    height: 25rem;
    border-radius: 8px;
    position: relative;
  
  }
  
  .botton-box>i {
    font-size: 200px;
  }
  
  .botton-box>span {
    font-size: 40px;
  }
  
  .accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.78rem 1.1rem;
    font-size: 0.9375rem;
    color: #516377;
    text-align: left;
    background-color: #fff;
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: all 0.2s ease-in-out, border-radius 0.15s ease;
  }
  
  .btn-width-8 {
    width: 8rem
  }
  
  .animate__fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
  }
  
  .collapse-checkBook-header {
    background-color: rgb(190, 233, 253) !important;
  }
  
  .collapse-checkBook {
    background-color: rgb(230, 247, 255) !important;
  }
  
  .collapse-factor-header {
    background-color: rgb(247, 210, 175) !important;
  }
  
  .collapse-factor {
    background-color: rgb(250, 243, 233) !important;
  }
  
  .check-image {
    width: 100%;
    height: 20rem;
    border-radius: 7px;
  }
  
  @media (prefers-reduced-motion: reduce) {
    .accordion-button {
      transition: none;
    }
  }
  
  .accordion-button:hover {
    z-index: 2;
  }
  
  .accordion-button:focus {
    z-index: 3;
    outline: 0;
    box-shadow: none;
  }
  
  .accordion-header {
    margin-bottom: 0;
  }
  
  .accordion-item {
    border-radius: 2rem;
    height: auto;
  }
  
  .accordion-body {
    padding: 0.78rem 1.1rem;
  }
  
  .accordion-toggle {
    background-color: rgb(237, 249, 244);
    display: block;
    padding: 10px;
    margin: -10px -15px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  
  .collapse-background-color.collapsed {
    background-color: red !important;
  }
  
  .accordion-toggle.collapsed {
    background-color: white;
  }
  
  @media (prefers-reduced-motion: reduce) {
    .accordion-button::after {
      transition: none;
    }
  }
  
  .box-btn {
    border: 1px solid #5a8dee;
    border-radius: 3px;
    padding: unset;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    width: 10rem;
    position: relative;
  }
  
  .box-btn>* {
    color: #5a8dee;
  }
  
  .box-btn>div {
    background-color: transparent;
    border: unset;
    border-left: 1px solid #5a8dee;
  }
  
  .box-btn>div>i {
    font-size: xx-large;
  }
  
  .check-book-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }
  
  .btn-checkbook-check {
    background-color: unset;
    border: 1px solid #5a8dee;
    border-radius: 4px;
    color: #5a8dee;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .btn-checkbook-check>i {
    font-size: xx-large;
  }
  
  .btn-check-use {
    border: 1px solid #b7b4b3;
    color: #b7b4b3;
    cursor: no-drop;
  }
  
  .btn-check-pass {
    border: 1px solid #46845d;
    color: #46845d;
    cursor: no-drop;
  }
  
  .factor-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .factor-item-box {
    background-color: unset;
    border: 1px solid #5a8dee;
    border-radius: 4px;
    width: 9.6rem;
    height: 10rem;
    display: flex;
    align-content: flex-start;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: inset 0px 0px 81px 0px #5a8dee40, 0px 0px 25px 0px #00000033;
  }
  
  .factor-item-box>* {
    width: 100%;
    color: #5a8dee;
  }
  
  .factor-item-box>h6 {
    margin: unset;
  }
  
  .factor-item-box>i {
    font-size: xxx-large;
  }
  
  .factor-paid {
    background-color: green;
  }
  
  .factor-check {
    background-color: #929da9;
    box-shadow: inset 0px 0px 81px 0px #929da9, 0px 0px 25px 0px #00000033;
    border: 1px solid #929da9;
    color: white;
  }
  
  .factor-check>* {
    color: white;
  }
  
  .collapse-check-detail-header {
  
    background-color: #91d591;
  }
  
  .collapse-check-detail {
    background-color: #d6ffd6;
  }
  
  .check-ui-show>input,
  .check-ui-show>p {
    position: absolute;
    background-color: transparent;
    border: unset;
  }
  
  .check-date {
    top: 21px;
    right: 190px;
    width: 200px;
    height: 25px;
    font-size: 30px;
  }
  
  .check-number {
    top: 42px;
    right: 780px;
    width: 200px;
    height: 25px;
    font-size: 30px;
  }
  
  .check-date-character {
    top: 50px;
    right: 232px;
    width: 207px;
    height: 21px;
    font-size: 22px;
  }
  
  .check-character-price {
    top: 103px;
    right: 300px;
    width: 660px;
    height: 31px;
  }
  
  .check-price {
    top: 202px;
    right: 618px;
    width: 660px;
    height: 44px;
    font-size: 53px;
  }
  
  .check-reciver {
    top: 131px;
    right: 144px;
    width: 349px;
    height: 45px;
    font-size: 41px;
  }
  
  .check-reciver-national-code {
    top: 132px;
    right: 636px;
    width: 243px;
    height: 40px;
    font-size: 47px;
  }
  
  .btn-back-modal {
    text-align: left;
    direction: ltr;
    box-sizing: content-box;
    width: 0.8em;
    height: 0.8em;
    color: #a8b1bb;
    border: 0;
    border-radius: 0.25rem;
    opacity: 0.95;
    background-color: #eeeff1;
    padding: 0.5625rem 0.5625rem;
    margin: 0 0 0 auto;
    z-index: 0;
    margin-left: 0;
    margin-right: auto;
  }
  
  .btn-close-modal {
    text-align: left;
    direction: ltr;
    box-sizing: content-box;
    width: 0.8em;
    height: 0.8em;
    color: #a8b1bb;
    border: 0;
    border-radius: 0.25rem;
    opacity: 0.95;
    background-color: #eeeff1;
    padding: 0.5625rem 0.5625rem;
    margin: 0 0 0 auto;
    z-index: 0;
    margin-left: 0 !important;
    margin-right: 1px !important;
  }
  
  .btn-current-use {
    background-color: #5a8dee;
    color: white;
  }
  .cashPaymentAmount{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .btn-close-modal {
    text-align: left;
    direction: ltr;
    box-sizing: content-box;
    width: 0.8em;
    height: 0.8em;
    color: #a8b1bb;
    border: 0;
    border-radius: 0.25rem;
    opacity: 0.95;
    background-color: #eeeff1;
    padding: 0.5625rem 0.5625rem;
    margin: 0 0 0 auto;
    z-index: 0;
    margin-left: 0 !important;
    margin-right: 1px !important;
  }
  */