@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.card-body-size {
    width: 60%;
    text-align: center;
    margin-left: 18%;
    margin-right: 18%;
    margin-top: 3%;
    margin-bottom: 3%;
}
.modal-footer{
    justify-content: space-around;
}

.isElectrical{
    color: #28a745;
}
.isNotElectrical{
    color: #dc3545;
}
.selected-row {
    background-color: yellow;
  }
  